* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

a {
  text-decoration: none;
}

.titulo {
  text-align: center;
}
.titulo h2 {
  font-family: sans-serif;
}

body {
  height: 100vh;
}

#container-faixa {
  display: flex;
  justify-content: center;
  background-color: #333a;
  color: #fff;
}
#container-faixa span {
  line-height: 25px;
  padding-left: 5px;
}

.faixa-item {
  display: flex;
  justify-content: center;
  padding-right: 15px;
}

#container-funcoes {
  display: flex;
  height: 130px;
}
#container-funcoes #logo {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container-funcoes #buscador {
  width: 50%;
  display: flex;
  align-items: center;
}
#container-funcoes #buscador form {
  display: flex;
  justify-content: center;
  width: 100%;
}
#container-funcoes #buscador form input {
  border: 1px solid grey;
  padding: 10px;
  width: 80%;
}
#container-funcoes #buscador form button {
  border: 1px solid grey;
  border-left: none;
  padding: 10px;
  width: 20%;
  color: #333a;
  cursor: pointer;
}
#container-funcoes #buscador form i {
  font-size: 30px;
}
#container-funcoes #funcoes {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#container-funcoes #funcoes .funcoes-icone {
  cursor: pointer;
  color: #333a;
}
#container-funcoes #funcoes .funcoes-icone span {
  font-size: 30px;
}
#container-funcoes .tooltip {
  position: relative;
}
#container-funcoes .tooltip .tooltiptext {
  font-size: 14px !important;
  visibility: hidden;
  display: none;
  width: 120px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  background-color: #333a;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  transition: opacity 0.3s;
}
#container-funcoes .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}
#container-funcoes .tooltip:hover .tooltiptext {
  display: initial;
  visibility: visible;
  opacity: 1;
}

.menu {
  background-color: #333a;
}
.menu ul {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  height: 100%;
}
.menu li {
  position: relative;
  text-align: center;
  height: 100%;
}
.menu a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 20px;
  text-decoration: none;
  color: #fff;
  width: max-content;
}
.menu a:hover {
  background-color: #ddd;
  color: #000;
}

#container-img-superior {
  height: 200px;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#container-img-superior img {
  width: 100%;
  height: 100%;
}

.faixa {
  text-align: center;
  color: #fff;
  background-image: linear-gradient(to right, #fff, #333a, #fff);
}

section#destaque {
  height: 500px;
  width: 100%;
  background-color: #333a;
}
section#destaque #container-amostra {
  height: 100%;
  width: 100%;
  display: flex;
}
section#destaque #container-amostra article {
  min-width: 300px;
  width: 25%;
}
section#destaque #container-amostra article .texto {
  color: #fff;
}
section#destaque #container-amostra article .texto h2 {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}
section#destaque #container-amostra article .texto p {
  text-align: justify;
  padding: 0 20px;
}
section#destaque #container-amostra video {
  min-width: 500px;
  width: 670px;
  height: 100%;
  outline: none;
  border: none;
}
section#destaque #container-amostra .container-info {
  margin-top: 60px;
  padding: 0 20px;
  min-width: 300px;
  width: 25%;
}
section#destaque #container-amostra .container-info .container-img {
  width: 100%;
  height: 350px;
}
section#destaque #container-amostra .container-info .container-img img {
  width: 100%;
  height: 100%;
}
section#destaque #container-amostra .container-info .texto {
  color: #fff;
}

section#mais-vendidos {
  margin-top: 60px;
}

section#categoria-mais-acessada {
  position: relative;
  margin-top: px;
  height: 600px;
  width: 100%;
  background-color: #333a;
}
section#categoria-mais-acessada .box {
  width: 300px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  margin: 25px;
  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);*/
}
section#categoria-mais-acessada .slide-img {
  height: 450px;
  position: relative;
}
section#categoria-mais-acessada .slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section#categoria-mais-acessada .slide-img:hover .overlay {
  visibility: visible;
  animation: fade 0.5s;
}
section#categoria-mais-acessada .detail-box {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-family: calibri;
}
section#categoria-mais-acessada .type {
  display: flex;
  flex-direction: column;
}
section#categoria-mais-acessada .type a {
  color: #222222;
  margin: 5px 0;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding-right: 8px;
}
section#categoria-mais-acessada .type span {
  color: rgba(26, 26, 26, 0.5);
}
section#categoria-mais-acessada .price {
  color: #333a;
  font-weight: 600;
  font-size: 1.1rem;
  font-family: poppins;
  letter-spacing: 0.5px;
}
section#categoria-mais-acessada .overlay {
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(92, 95, 236, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section#categoria-mais-acessada .buy-btn {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  color: #252525;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: calibri;
  border-radius: 20px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}
section#categoria-mais-acessada .buy-btn:first-child {
  margin-bottom: 20px;
}
section#categoria-mais-acessada .buy-btn:first-child:hover {
  color: #fff;
  background-color: rgba(134, 197, 218, 0.5);
}
section#categoria-mais-acessada .buy-btn:last-child:hover {
  color: #fff;
  background-color: rgba(144, 238, 144, 0.5);
}

.container-row-livros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.box {
  width: 200px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  margin: 25px;
  /* position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);*/
}

.slide-img {
  height: 225px;
  position: relative;
}
.slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail-box {
  height: 68px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-family: calibri;
}

.type {
  display: flex;
  flex-direction: column;
}
.type a {
  color: #222222;
  margin: 5px 0;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding-right: 8px;
}
.type span {
  color: rgba(26, 26, 26, 0.5);
}

.price {
  color: #333a;
  font-weight: 600;
  font-size: 1.1rem;
  font-family: poppins;
  letter-spacing: 0.5px;
}

.container-btns {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buy-btn {
  border-top: 1px solid #929090;
  width: 99.5px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  color: #252525;
  font-weight: 700;
  font-family: calibri;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}
.buy-btn:first-child {
  border-bottom-left-radius: 10px;
  border-right: 1px solid #929090;
}
.buy-btn:first-child:hover {
  color: #fff;
  background-color: rgba(134, 197, 218, 0.5);
}
.buy-btn:last-child {
  border-bottom-right-radius: 10px;
}
.buy-btn:last-child:hover {
  color: #fff;
  background-color: rgba(144, 238, 144, 0.5);
}

section#melhores-escritores {
  margin-top: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
section#melhores-escritores .face-escritor {
  width: 300px;
  height: 450px;
}
section#melhores-escritores .face-escritor .texto p {
  text-align: justify;
}
section#melhores-escritores .container-img {
  height: 65%;
  width: 100%;
}
section#melhores-escritores .container-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

footer {
  margin-top: 60px;
  background-color: #333a;
  width: 100%;
  height: 300px;
}
footer #container-footer {
  height: 90%;
  display: flex;
  align-items: center;
}
footer #container-footer .container-img {
  width: 90px;
  height: 70px;
}
footer #container-footer .container-img img {
  height: 100%;
  width: 100%;
}
footer #container-footer .texto {
  color: white;
  text-transform: uppercase;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer #container-footer .container-div-footer {
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
footer #container-footer #contate-nos {
  height: 200px;
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
footer #container-footer #meios-pagamento {
  width: 25%;
  height: 200px;
}
footer #container-footer #certificacao {
  width: 25%;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
footer #container-footer .menu {
  background-color: unset;
  width: 25%;
  height: 200px;
}
footer #container-footer .menu ul {
  flex-direction: column;
}
footer #container-footer .menu a {
  padding: 15px 0 0 0;
  display: block;
  width: 100%;
}
footer #copy {
  background-color: #fff;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}