$cor-base: #333a;

* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

a {
    text-decoration: none;
}

.titulo {
    text-align: center;

    h2 {
        font-family: sans-serif;
    }
}

body {
    height: 100vh;
}

#container-faixa {
    display: flex;
    justify-content: center;
    background-color: $cor-base;
    color: #fff;

    span {
        line-height: 25px;
        padding-left: 5px;
    }
}

.faixa-item {
    display: flex;
    justify-content: center;
    padding-right: 15px;
}

#container-funcoes {
    display: flex;
    height: 130px;

    #logo {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #buscador {
        width: 50%;
        display: flex;
        align-items: center;

        form {
            display: flex;
            justify-content: center;
            width: 100%;

            input {
                border: 1px solid grey;
                padding: 10px;
                width: 80%;
            }

            button {
                border: 1px solid grey;
                border-left: none;
                padding: 10px;
                width: 20%;
                color: $cor-base;
                cursor: pointer;
            }

            i {
                font-size: 30px;
            }
        }
    }

    #funcoes {
        width: 25%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .funcoes-icone {
            cursor: pointer;
            color: $cor-base;

            span {
                font-size: 30px;
            }
        }
    }

    .tooltip {
        position: relative;

        .tooltiptext {
            font-size: 14px !important;
            visibility: hidden;
            display: none;
            width: 120px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            top: 100%;
            left: 50%;
            margin-left: -60px;
            opacity: 0;
            background-color: $cor-base;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            transition: opacity 0.3s;
        }

        .tooltiptext::after {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent #555 transparent;
        }

        &:hover .tooltiptext {
            display: initial;
            visibility: visible;
            opacity: 1;
        }
    }
}

.menu {
    background-color: $cor-base;

    ul {
        display: flex;
        list-style: none;
        text-transform: uppercase;
        height: 100%;
    }

    li {
        position: relative;
        text-align: center;
        height: 100%;
    }

    a {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 14px 20px;
        text-decoration: none;
        color: #fff;
        width: max-content;

        &:hover {
            background-color: #ddd;
            color: #000;
        }
    }
}

#container-img-superior {
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    img {
        width: 100%;
        height: 100%;
    }
}

.faixa {
    text-align: center;
    color: #fff;
    background-image: linear-gradient(to right, #fff, $cor-base, #fff);
}

section#destaque {
    height: 500px;
    width: 100%;
    background-color: $cor-base;

    #container-amostra {
        height: 100%;
        width: 100%;
        display: flex;

        article {
            min-width: 300px;
            width: 25%;

            .texto {
                color: #fff;

                h2 {
                    margin-top: 50px;
                    margin-bottom: 20px;
                    text-align: center;
                }

                p {
                    text-align: justify;
                    padding: 0 20px;
                }
            }
        }

        video {
            min-width: 500px;
            width: 670px;
            height: 100%;
            outline: none;
            border: none;
        }

        .container-info {
            margin-top: 60px;
            padding: 0 20px;
            min-width: 300px;
            width: 25%;

            .container-img {
                width: 100%;
                height: 350px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .texto {
                color: #fff;
            }
        }
    }
}

section#mais-vendidos {
    margin-top: 60px;
}

section#categoria-mais-acessada {
    position: relative;
    margin-top: px;
    height: 600px;
    width: 100%;
    background-color: $cor-base;

    .box {
        width: 300px;
        box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        overflow: hidden;
        margin: 25px;
        /* position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);*/
    }

    .slide-img {
        height: 450px;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:hover .overlay {
            visibility: visible;
            animation: fade 0.5s;
        }
    }

    .detail-box {
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        font-family: calibri;
    }

    .type {
        display: flex;
        flex-direction: column;

        a {
            color: #222222;
            margin: 5px 0;
            font-weight: 700;
            letter-spacing: 0.5px;
            padding-right: 8px;
        }

        span {
            color: rgba(26, 26, 26, 0.5);
        }
    }

    .price {
        color: $cor-base;
        font-weight: 600;
        font-size: 1.1rem;
        font-family: poppins;
        letter-spacing: 0.5px;
    }

    .overlay {
        visibility: hidden;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        background-color: rgba(92, 95, 236, 0.6);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .buy-btn {
        width: 160px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, .5);
        color: #252525;
        font-weight: 700;
        letter-spacing: 1px;
        font-family: calibri;
        border-radius: 20px;
        box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);

        &:first-child {
            margin-bottom: 20px;

            &:hover {
                color: #fff;
                background-color: rgba(134, 197, 218, .5);
            }
        }

        &:last-child {
            &:hover {
                color: #fff;
                background-color: rgba(144, 238, 144, .5);
            }
        }

    }
}

.container-row-livros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box {
    width: 200px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    margin: 25px;

    /* position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);*/
}

.slide-img {
    height: 225px;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.detail-box {
    height: 68px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: calibri;
}

.type {
    display: flex;
    flex-direction: column;

    a {
        color: #222222;
        margin: 5px 0;
        font-weight: 700;
        letter-spacing: 0.5px;
        padding-right: 8px;
    }

    span {
        color: rgba(26, 26, 26, 0.5);
    }
}

.price {
    color: $cor-base;
    font-weight: 600;
    font-size: 1.1rem;
    font-family: poppins;
    letter-spacing: 0.5px;
}

.container-btns {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buy-btn {
    border-top: 1px solid #929090;
    width: 99.5px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .5);

    color: #252525;
    font-weight: 700;
    font-family: calibri;

    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);

    &:first-child {
        border-bottom-left-radius: 10px;
        border-right: 1px solid #929090;

        &:hover {
            color: #fff;
            background-color: rgba(134, 197, 218, .5);
        }
    }

    &:last-child {
        border-bottom-right-radius: 10px;

        &:hover {
            color: #fff;
            background-color: rgba(144, 238, 144, .5);
        }
    }

}

section#melhores-escritores {
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .face-escritor {
        width: 300px;
        height: 450px;

        .texto {
            p {
                text-align: justify;
            }
        }
    }

    .container-img {
        height: 65%;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
}

footer {
    margin-top: 60px;
    background-color: $cor-base;
    width: 100%;
    height: 300px;

    #container-footer {
        height: 90%;
        display: flex;
        align-items: center;

        .container-img {
            width: 90px;
            height: 70px;

            img {
                height: 100%;
                width: 100%;
            }
        }

        .texto {
            color: white;
            text-transform: uppercase;
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container-div-footer {
            height: 80%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
        }

        #contate-nos {
            height: 200px;
            width: 25%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
        }

        #meios-pagamento {
            width: 25%;
            height: 200px;
        }

        #certificacao {
            width: 25%;
            height: 200px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
        }

        .menu {
            background-color: unset;
            width: 25%;
            height: 200px;

            ul {
                flex-direction: column;
            }

            a {
                padding: 15px 0 0 0;
                display: block;
                width: 100%;
            }
        }
    }

    #copy {
        background-color: #fff;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}